<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <title>LocoFoto</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" async></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
    <script src="index.js"></script>
</head>
<body>
    <div class="topBanner">
        <a href = "/"> <img class="websiteIcon" src = "/websiteIcons/logo.png" alt="logo"> </a>
     <div class = "nav">
        <a href="<%=data %>">
          <button class="buttonLogin" type="submit"> <%=name %> </button>
       </a>
    </div>
    </div>
    <div class ="header">
       <h1> Change <%= username %>'s account details.</h1>
   </div>
   <div class = "loginDiv">
   <p>Please enter the new profile details you would like</p>
<form class = "form" action="/alter" method="post" enctype="multipart/form-data">
    <div>New First Name: <input type="text" name="firstName" pattern="[^'\x22]+" title="Invalid input" required="required"></div>
    <div>New Last Name: <input type="text" name="lastName" pattern="[^'\x22]+" title="Invalid input" required="required"></div>
    <div>New Password: <input type="password" name="password" pattern="[^'\x22]+" title="Invalid input" required="required"></div>
    <div><button class="buttonLogin" type="submit"> Submit Changes </button></div>
</div>
</form>
    </body>
    </html>